.dropdown-hover:hover .dropdown-menu,
        .dropdown-open .dropdown-menu {
            pointer-events: auto !important;
            opacity: 1;
            transform: translateY(0);
        }

        .dropdown-menu {
            opacity: 0;
            transition: opacity 0.3s ease, transform 0.3s ease;
            transform: translateY(-10px);
        }

        .main-blue-bg {
            background-color: #60A5FA;
        }

        .slanted-blue-bg {
            background-color: #60A5FA;
            position: relative;
            overflow: hidden;
        }

        .slanted-blue-bg::before {
            content: '';
            position: absolute;
            top: -200px;
            left: 0;
            width: 100%;
            height: 300px;
            background-color: #FFFFFF;
            transform: skewY(1.5deg);
            transform-origin: bottom left;
            z-index: 10;
        }

        .craft-blue-bg {
            position: relative;
            overflow: hidden;
            background-color: #FFFFFF;
        }

        .craft-blue-bg::after {
            content: '';
            position: absolute;
            top: 200px;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #60A5FA;
            transform: skewY(-1.5deg);
            transform-origin: top left;
            z-index: 0;
        }

        .slanted-blue-bg .relative {
            z-index: 20;
        }